<div class="container">
   <%= render "tabs"%>

  <% @articles.each do |article| # =は表示という意味 %>
    <%= render "article", article: article %>
  <% end %>
  <%= link_to new_article_path do%>
  <div class="float-btn">
    <i class="fa fa-plus"></i>
  </div>
  <% end %>
</div>